<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#0069d9"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "TauPer", suffix: " · Taula Periòdica" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
        <h1>
          <a href="/">
            <span class="header-icon">⚛</span>
            <span class="header-text">
              TauPer
              <small class="header-subtitle">TAULA PERIÒDICA</small>
            </span>
          </a>
        </h1>
      <section class="container">
        <nav>
          <ul>
            <%= if assigns[:game] && @game.alone do %>
              <li><%= gettext("Practice Mode") %></li>
            <% else %>
              <%=  if assigns[:game_code] do %>
                <li> <%= gettext("game") %>: <%=  @game_code %></li>
              <% end %>
              <%=  if assigns[:game_code] do %>
                <li> <%= gettext("player") %>: <%=  @player_name %></li>
              <% end %>
            <% end %>
          </ul>
      <!-- <nav role="navigation">
           <ul class="nav nav-pills pull-right">
           <li><%= switch_locale_path @conn, :en, "English" %></li>
           <li><%= switch_locale_path @conn, :ru, "Català" %></li>
           </ul>
           </nav> -->
        </nav>
      </section>
    </header>

    <%= @inner_content %>
  </body>
</html>
