<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Status</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for game_code <- @games do %>
    <tr>
      <td><%= game_code %></td>

      <td>
        <span><%= link "Join", to: Routes.game_path(@conn, :join, game_code: game_code) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Game", to: Routes.game_path(@conn, :new) %></span>
