<h1>Game</h1>

<ul>

  <li>
    <strong>Code:</strong>
    <%= @game.code %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @game.status %>
  </li>

</ul>
  <button>Start Game</button>
<!-- TODO
     <div>
     <h2>Players</h2>
     <div id="div-presence" />
     </div> -->
